<p>
  What type of user are you?
</p>
<form action="route" method="get">
  <input type="radio" name="usertypes" value="Customer">Customer <br/>
  <br />
  <input type="radio" name="usertypes" value="Artist">Artist
  <br/>
  <br/>
  <input type="submit" />
</form>
