<div class="bo-wrap clr4">
  <div class="bo-footer">
    <div class="bo-footer-social"></div>
  </div>
</div>
<div class="bo-wrap clr3">
  <div class="bo-footer">
    <div class="bo-footer-smap">
        <a href="#">FAQ</a> | <a href="#">About</a> | <a href="#">Contact Us</a>
	  </div>
	  <div class="bo-footer-uonline">
           <script id="_wautoy">var _wau = _wau || []; _wau.push(["small", "p6egqc1t5bze", "toy"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="http://widgets.amung.us/small.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>
	  </div>
	  <div class="bo-footer-power">
      Powered By Learn - <a href="http://learnacademy.org">404_brain_not_found</a>
	  </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="bo-wrap clr4">
  <div class="bo-footer">
    <div class="bo-footer-copyright">&copy;2017 404_brain_not_found Developers.  All rights reserved.</div>
  </div>
</div>
